
# name: Angular CI

# on:
#   pull_request:
#     branches: [ "master" ]

# jobs:
#   build:

#     runs-on: ubuntu-latest

        

#     steps:
#     - uses: actions/checkout@v4
#     - name: Use Node.js 
#       uses: actions/setup-node@v4
#       with:
#         node-version: 18.x
#         cache: 'npm'

#     - name: Install dependencies
#       run: npm ci
    
#     - name: Build
#       run: npm run build 
    
#     - name: Testcases  
#       run: npm run test 
